@model GoWorkFactoryBusinessLogic.ViewModels.UserRegisterViewModel

<h2>Регистрация</h2>

<form asp-action="Register" asp-controller="User" asp-anti-forgery="true">
    <p class="lead text-danger">@Model?.Error</p>
    <div class="form-group">
        <a class="btn btn-outline-dark" asp-action="Login" asp-controller="User">Авторизация</a>
    </div>
    <div class="form-group">
        <label asp-for="Username">Придумайте логин</label><br />
        <input type="text" asp-for="Username" value="@Model?.Username" pattern="[a-zA-Z0-9]{8,20}" />
    </div>
    <div class="form-group">
        <label asp-for="Password">Придумайте пароль</label><br />
        <input type="password" asp-for="Password" value="@Model?.Password" pattern="[a-zA-Z0-9]{6,16}" />
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword">Повторите пароль</label><br />
        <input type="password" asp-for="ConfirmPassword" value="@Model?.ConfirmPassword" />
    </div>
    <div class="form-group">
        <label asp-for="Email">Введите Email</label><br />
        <input type="email" asp-for="Email" value="@Model?.Email" />
    </div>
    <div class="form-group">
        <input type="submit" value="Регистрация" class="btn btn-outline-dark" />
    </div>
</form>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            $("input[name=Username]")[0].oninvalid = function () {
                this.setCustomValidity("Логин должен быть в пределах от 8 до 20 символов и содержать латинские буквы или цифры");
            };
            $("input[name=Password]")[0].oninvalid = function () {
                this.setCustomValidity("Пароль должен быть в пределах от 6 до 16 символов и содержать латинские буквы или цифры");
            };
        });
    </script>
}